
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3A6A92;
}





* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html {
  scroll-behavior:smooth;
}

body {
  background-color: #3a928e;

  /* margin-bottom: 100px; */
}

.upper{
  background-color:#172A3A;
  padding: 1rem;
  border-radius: 0 0 50px 50px;
}
.links {
  margin: 0px 12vw;
  background-color: #3A6A92;
  border-radius:0 0 50px 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block; */
  list-style: decimal;
  overflow: hidden;
}
ol {
    margin: 3rem 6rem;
    
}
li {
    margin: 3vh 0;
    color: white;
    font-size: 1.8rem;
}
.points li {
    margin: 1vh 1.5vw;
    color: white;
    font-size: 1.5rem;
    font-family: monospace;
}
li span {
    font-family: monospace;
  margin: 1vh 0;
  color: white;
  font-size: 1.5rem;
}

.typing {
  margin: 10vh auto;
  justify-content: center;
  width: 38ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
  color: white;
}

.typing-inst {
  margin: 10vh auto;
  justify-content: center;
  width: 48ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: white;
}

.typing a {
  font-family: monospace;
  color: rgb(191, 201, 148);
}.typing a:hover {
  color: rgb(136, 143, 104);
}


.typing-source-code{
  margin: 10vh auto;
  justify-content: center;
  width: 48ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: white;

}
.typing-source-code a{
  font-family: monospace;
  font-size: 2em;
  color: white;
}

.typing-source-code a:hover{

  color: rgb(146, 122, 122);
}



.footer {
  padding: 40px 0;
  background-color: #935A4D;
  border-radius: 50px 50px 0  0;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #242424;
}

.footer .social a {
  font-size: 2rem;
  color: inherit;
  border: 1px solid rgb(247, 246, 246);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border-width: 2px;
  margin: 0 8px;
  /* opacity: 0.75; */
}

.footer .social a:hover {
  opacity: 0.9;
  color: #000;
}

/* .footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  opacity: 1;
} */

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  font-family: monospace;
  color: rgb(255, 255, 255);
}

.footer .tag {
  margin-top: 15px;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
  color: rgb(255, 255, 255);
}














@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
