@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #e7e7e7;
}
#photo1 {
  margin-right: 1.5rem;
}
.content {
  display: flex;
}
.navbar {
  padding: 1rem;
  display: flex;
  position: relative;
  height: max-content;
  width: 100%;
  justify-content: center;
}
.navbar p {
  margin: 0 1.5rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  z-index: 1;
  transition: all 0.4s ease-in;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}
.navbar p:hover {
  text-decoration: underline;
}
#logo {
  margin: 5px;
}
#welcome {
  display: flex;
  flex-wrap: wrap;
}
.welcome-head {
  padding: 1.5rem 5rem;
  font-size: 6rem;
  width: 50vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#photo1 {
  margin-right: 1.5rem;
}
.search-box {
  margin: 0 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(51, 50, 50);
  border: 1px solid black;
  border-radius: 10px;
}
.order-btn {
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #f29f05;
  border: 1px solid black;
  border-radius: 10px;
}
.order-btn:hover {
  background-color: #fcab15;
}
.items-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item {
  justify-content: center;
  margin: 1rem;
}
.cover{
  width: 25rem;
}
.item .big-p {
  margin: 0 rem;
  padding: 0.1rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(226, 226, 226);
}
.small-p {
  margin: 0 2rem;
  padding: 1rem;
  width: 20rem;
  font-size: 1.2rem;
  word-wrap: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(228, 228, 228);
}
.join-img {
  width: 40vw;
  height: 25vw;
  border-radius: 10px;
} 
.how-to{
  margin-top: 100px;
  background-color: rgb(69, 75, 75);
  display: block;
}
.how-head {
  color: rgb(255, 255, 255);
  width: 60vw;
  padding: 2rem 0 2rem 0;
  margin: 0px 35vw;
  font-size: 4rem;
}
.footer {
  padding: 40px 0;
  background-image: url(./footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .copyright,
a {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  font-family: monospace;
  color: #020101;
}
.footer .tag {
  margin-top: 15px;
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
  color: rgb(31, 13, 13);
}
